(defaults) {
  limits 128mb
}

(anonymous-logging) {
  log stdout {
    ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
  }
}

(silverstripe-rewrite) {
  gzip
  fastcgi / php:9000 php
  status 403 {
    ^\/(.env|vendor\/|composer\.(json|lock)|(error|silverstripe|debug)\.log|silverstripe-cache\/)
  }
  rewrite {
    if {path} not_match ^\/(assets|resources)\/
    to {path} {path}/ /index.php?url={uri}
  }
}

(assets-folder) {
  header / Cache-Control "max-age=86400"
  status 403 {
    /.protected
    /error.+?*\.html
  }
  gzip
}

localhost {
  import defaults
  import anonymous-logging
  header /resources Cache-Control "max-age=86400"
  root /var/www/html/public
  import silverstripe-rewrite
}
  

localhost/assets/ {
  import defaults
  import assets-folder
}
